@font-face {
    font-family: murder;
    src: url(./graphics/fonts/youmurdererbb_reg.ttf);
}
html{
background-image: url(graphics/wallpaper.png);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
font-family: Arial, Helvetica, sans-serif;
}
body{
    margin-left: 15vw;
    margin-right: 15vw;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-bottom: 1vw;
    box-shadow: 0vw 0.3vw 1vw 0vw #000000;
}
nav a{
    padding: 0.4vw;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #363636;
    /*WCAG white and gray contrast ratio 8.73:1, Normal text AA, AAA-pass*/
}
nav a:hover{
    background-color: #A10416;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: rgba(255, 255, 255, 0.815);

}
#img_left{
    height: 10vw;
    width: 10vw;
    margin-left: 6vw;
    grid-column: 1;
    grid-row: 1;
}
#img_right{
    height: 10vw;
    width: 10vw;
    margin-right: 6vw;
    grid-column: 6;
    grid-row: 1;
}
#i_scream{
    grid-row: 1;
    grid-column: 1 / 7;
    color: #A10416;
    font-size: 4vw;
    align-content: center;
    text-align: center;
    line-height: 0px;
    font-family: murder;
    letter-spacing: 0.4vw;
    background-image: url(./graphics/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
section{
    grid-row: 2 / span 5;
    grid-column: 1/ span 6;
    padding: 1vw 2vw 3vw 2vw;
}
#ice-creams{
    grid-row: 2 / span 5;
    grid-column: 1/ span 6;
    padding: 1vw 2vw 3vw 2vw;
    margin-top: -1em;
}
section p{
    text-align: center;
    font-size: 1.5em;
    overflow-wrap: break-word;
    margin-top: -2vw;
}
section h2{
    text-align: center;
    font-size: 3em;
    font-family: murder;
    
}
footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.5em;
    color: white;
    /*WCAG white and gray contrast ratio 8.73:1, Normal text AA, AAA-pass*/
    margin-top: -1.4vw;
}

#footerimg{
    height: 2em;
    width: auto;
    margin-top: 1vw;
}
#maps{
    grid-row: 2 / span 5;
    grid-column: 1/ span 4;
    padding: 1vw;
}
iframe{
    width: 30vw;
    height: 30vw;
}
#contact{
    grid-row: 2 / span 5;
    grid-column: 4/ span 7;
    padding: 0.5vw;
}
#contact p{
    text-align: start;
    font-size: 1.4em;
}
#ice-creams > h2{
    text-align: center;
    color: white;
    background-color: #363636;
    padding: 1vw;
    border-radius: 5vw;
}
.menu-item{
    margin: 1vw;;
    background-color: #ffb833d3;
    box-shadow: 0.4vw 0.4vw 0.9vw #0000007e;
    border-radius: 1vw;
    color: black;
    font-size: 1em;
    overflow: auto;
    border:  1vw solid #ffa500;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    /*WCAG black and orange contrast ratio 10.63:1, Normal text AA, AAA-pass*/
}
/**/
.menu-item > h2 {
    text-align: center;
    text-transform: uppercase;
    color: #A10416;
     /*WCAG red and orange contrast ratio 4.78:1, large text AA, AAA-pass*/
    font-size: 5vw;
    font-family: murder;
    letter-spacing: 0.3vw;
    line-height: 0;
    margin-bottom: 0.4em;
    margin-top: 0.5em;
}
.desc{
    font-size: 1.5em;
}
.price {
    float: right;
    border: 0.3vw dotted black;
    border-radius: 3vw;
    font-size: 1.7em;
    padding: 0.5vw;
}
#ice-creams > h2{
    font-size: 3em;
    text-transform: capitalize;
}
.form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.816);
    padding: 1vw;
}
.allergy > p{
    font-size: 1em;
}
.form > p{
    font-size: 1em;
}
#submit{
    width: 100%;
    padding: 1em;;
    font-size: 2.5em;
    line-height: 0;
    background-color: #A10416;
    color: white;
    border: solid rgba(0, 0, 0, 0.329);
}
.dateform > h3, .textform > h3, .selectform > h3, .other > h3{
    font-size: 1.6em;

}
.dateform > p, .textform > p, .selectform > p, .other > p{
    font-size: 1.4em;
    line-height: 0.7;
    margin-bottom: 0.5vw;
}
input[type=checkbox]{
    transform: scale(2);
}
.allergy > p{
    display: inline;
    font-size: 1.4em;
    margin-left: 0.5vw;
    margin-right: 1vw;

}
/*WCAG 313131c7 and white  contrast ratio 9.40:1, Normal text AA, AAA-pass*/
select {
    width: 4vw;;
    border: 0.2vw solid rgba(49, 49, 49, 0.78);
    font-size: 1em;
    padding: 0.3vw;
}
input[type=date]{
    width: 90%;
    border: 0.2vw solid rgba(49, 49, 49, 0.781);
    font-size: 1em;
    padding: 0.3vw;
}
input[type=time]{
    width: 90%;
    border: 0.2vw solid rgba(49, 49, 49, 0.781);
    font-size: 1em;
    padding: 0.3vw;
}
input[type=text]{
    width: 90%;
    border: 0.2vw solid rgba(49, 49, 49, 0.781);
    font-size: 1em;
    padding: 0.3vw;
}
input[type=tel]{
    width: 90%;
    border: 0.2vw solid rgba(49, 49, 49, 0.781);
    font-size: 1em;
    padding: 0.3vw;
}
input[type=email]{
    width: 190%;
    border: 0.2vw solid rgba(49, 49, 49, 0.781);
    font-size: 1em;
    padding: 0.3vw;
}
textarea{
    border: 0.2vw solid rgba(49, 49, 49, 0.781);
}

@media (max-width: 600px) {
    body{
        margin-left: 0vw;
        margin-right: 0vw;
    }
    nav{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 0.8vw;
        margin-bottom: none;
        box-shadow: none;
        
    }
    nav a{
        padding: 0.4vw;
        font-size: 2em;
        border: solid 0.1em rgba(0, 0, 0, 0.24);
    }
    #img_left{
        height: 15vw;
        width: auto;
        margin-left: 5vw;
    }
    #img_right{
        height: 15vw;
        width: auto;
        margin-right: 5vw;
    }
    #i_scream{
        font-size: 6vw;
    }
    section{
        padding: 0px 0px 0px 0px;
    }
    #maps{
        grid-row: 3;
        grid-column: 1/ span 7;
        padding: 10vw;
    }
    iframe{
        width: 100%;
        height: 150vw;
        justify-content: center;
        padding: 0vw;
    }
    #maps {
        padding: 0vw;
    }
    #contact{
        grid-row: 2;
        grid-column: 1/ span 7;
        padding: 1;
    }
    #contact p,{
        text-align: justify;
        font-size: 0.6em;
    }
    #ice-creams{
        padding: 1vw 2vw 6vw 2vw;
    }
    .menu-item > h2 {
        font-size: 10vw;
        line-height: 0.7;
        margin-bottom: -0.1em;
        margin-top: -0.01em;
    }
    #i_scream{
        font-size: 10vw;
        line-height: 0;
    }
    #img_left{
        display: none;
    }
    #img_right{
        display: none;
    }
    section h2{
        font-size: 4em;
    }
    #ice-creams{
        grid-row: 2 / span 5;
        grid-column: 1/ span 6;
        padding: 0vw 0vw 2vw 0vw;
    }
    #ice-creams > h2 {
        font-size: 2em;
    }
    #footerimg{
       display: none;
    }
    .form{
        display: flex;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.815);
        padding: 1vw;
        font-size: 1.5em
    }
    .allergy > p{
        font-size: 1.5em;
    }
    .form > p{
        font-size: 1.5em;
    }
    #submit{
        padding: 1em;;
        font-size: 2em;

    }
    .form > h3{
        font-size: 3em;
    }
    /*WCAG 313131c7 and white  contrast ratio 9.40:1, Normal text AA, AAA-pass*/
    input[type=date]{
        width: 90%;
        padding: 3vw;
        border: 0.2vw solid rgba(49, 49, 49, 0.781);
        border-radius: 1vw;;
        font-size: 1em;
    } 
    input[type=time]{
        width: 90%;
        padding: 3vw;
        border: 0.2vw solid rgba(49, 49, 49, 0.781);
        border-radius: 1vw;;
        font-size: 1em;
    }
    input[type=text]{
        width: 90%;
        padding: 3vw;
        border: 0.2vw solid rgba(49, 49, 49, 0.781);
        border-radius: 1vw;;
        font-size: 1em;
    }
    input[type=tel]{
        width: 90%;
        padding: 3vw;
        border: 0.2vw solid #313131c7;
        border-radius: 1vw;;
        font-size: 1em;
    }
    input[type=email]{
        width: 90%;
        padding: 3vw;
        border: 0.2vw solid rgba(49, 49, 49, 0.781);
        border-radius: 1vw;;
        font-size: 1em;
    }
    select {
        width: 60%;
        padding: 1vw 1vw;
        border: 0.2vw solid rgba(49, 49, 49, 0.781);
        font-size: 1em;
        float: right;
    }
    .selectform > p{
        display: inline-flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        line-height: 0;
        width: 40%;
    }
    input[type=checkbox]{
        transform: scale(2);
    }
    .allergy > p{
        display: inline;
        font-size: 1em;
        margin-left: 2vw;
        margin-right: 4vw;
    }
}